
<div class="card" style="width:400px">
    <img class="card-img-top" src="{{productos.imagen_url}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Nombre:</h4>
      <p class="card-text">{{productos.nombre}}</p>
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">{{productos.precio}}</p>
      <h4 class="card-title">Tipo:</h4>
      <p class="card-text">{{productos.tipo}}</p>
      <h4 class="card-title">Marca:</h4>
      <p class="card-text">{{productos.marca}}</p>
      <h4 class="card-title">Tono:</h4>
      <p class="card-text">{{productos.tono}}</p>
      <h4 class="card-title">Características:</h4>
        <p class="card-text">Nuestra línea de productos de maquillaje combina la innovación con la calidad para ofrecerte una experiencia única. Desde bases de maquillaje que se adaptan perfectamente a tu tono de piel hasta labiales de larga duración en una amplia gama de colores vibrantes, nuestra colección está diseñada para realzar tu belleza natural. Con fórmulas de alta calidad y pigmentación intensa, nuestros productos te permiten expresar tu creatividad y estilo personal. Descubre nuestros productos de maquillaje y déjate inspirar para crear looks impresionantes para cada ocasión.</p>

      <a href="productos" class="btn btn-primary">regresar</a>
    </div>
  </div>
