<form (ngSubmit)="guardar( formulario )" #formulario = "ngForm">
    <label for="">Ingresar ID</label>
    <input type="text" name="id" [(ngModel)]="id" class="form-control">

    <label for="">Ingresar el nuevo nombredel producto</label>
    <input type="text" name="nombre"  [(ngModel)]="nombre" class="form-control">

    <label for="">Ingresar el nuevo tipo</label>
    <input type="text" name="tipo"  [(ngModel)]="tipo" class="form-control">
    <label for="">Ingresar la nueva marca</label>
    <input type="text" name="marca"  [(ngModel)]="marca" class="form-control">
    <label for="">Ingresar el nuevo tono</label>
    <input type="text" name="tono"  [(ngModel)]="tono" class="form-control">
    <label for="">Ingresar el nuevo precio</label>
    <input type="text" name="precio"  [(ngModel)]="precio" class="form-control">
    <label for="">Ingresar la nueva cantidad de productos</label>
    <input type="text" name="cantidad"  [(ngModel)]="cantidad" class="form-control">
    <label for="">Ingresar la nueva unidad de medida</label>
    <input type="text" name="unidad"  [(ngModel)]="unidad" class="form-control">
    <label for="">Ingresar la nueva imagen</label>
    <input type="text" name="imagen_url"  [(ngModel)]="imagen_url" class="form-control">


    
    <button type="submit" >Guardar</button>
</form>
