<div class="container">
    <h1>Empresa de Maquillaje</h1>
    <div class="story-info">
        <h2>Nuestra Historia</h2>
        <p>En nuestra empresa de maquillaje, la pasión por realzar la belleza de cada persona es lo que nos impulsa a crear productos excepcionales.</p>
        <p>Todo comenzó en un pequeño taller donde nuestra fundadora, María, experimentaba con diferentes fórmulas y colores para crear maquillajes únicos. Con el tiempo, su pasión se convirtió en una empresa dedicada a ofrecer productos de alta calidad que celebran la diversidad y la individualidad.</p>
        <p>Nuestro compromiso con la innovación y la excelencia nos ha llevado a colaborar con los mejores expertos en belleza y a utilizar los últimos avances tecnológicos para desarrollar productos que no solo embellecen, sino que también cuidan la piel.</p>
        <p>Hoy, seguimos comprometidos con nuestra misión de empoderar a las personas para que se sientan seguras y hermosas en su propia piel. Nuestra historia es una historia de pasión, creatividad y dedicación, y estamos emocionados de compartirla contigo mientras continuamos nuestro viaje juntos.</p>
    </div>
</div>
