<section class="banner">
    <div class="banner-image">
        <img src="https://img.freepik.com/fotos-premium/mujer-belleza-cosmetica-poniendo-mascara-negra-pestanas-maquillaje-perfecto_265223-37884.jpg" alt="Banner Image 1">
        <div class="banner-text">
            <h1>Descubre tu belleza</h1>
            <p>Explora nuestra colección de maquillaje diseñada para resaltar tu belleza natural.</p>
        </div>
    </div>
    <div class="banner-image">
        <img src="https://img.freepik.com/fotos-premium/cuidado-piel-belleza-diversidad-amigas-modelo-sobre-fondo-marron-estudio-maquillaje-o-bienestar-empoderamiento-retratos-natural-grupo-femenino-posando-juntas-inclusion_590464-92721.jpg">
        <div class="banner-text">
            <h1>Expresa tu estilo</h1>
            <p>Encuentra productos de maquillaje que te permitan expresar tu creatividad y personalidad única.</p>
        </div>
    </div>
   
</section>

